.role {
  height: 40px;
  width: 100%;
  text-align: center;
  justify-content: center !important;
  margin: auto;
  background-color: #cdf8e9;
}

.role:hover {
  background-color: #a9f6db;
}

.icon {
  margin-top: -10px !important;
  margin-bottom: -6px !important;
  margin-right: 10px !important;
}
