<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Estos son sus roles</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-1">
      <mat-form-field appearance="fill" class="ancho-completo no-padding">
        <mat-label style="color: #6f6f6f"
          >Seleccione la gráfica a consultar</mat-label
        >
        <mat-select [(ngModel)]="rolSeleccionado">
          <mat-option value="">Seleccione un rol</mat-option>
          <mat-option
            *ngFor="let role of data.roles; let i = index"
            (click)="setColor(i, role.nombre)"
            [value]="role.nombre"
            >{{ role.icon }} {{ role.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button
        mat-raised-button
        color="accent"
        class="btn-block orange-button"
        style="margin-bottom: 10px"
        (click)="continuar()"
        [disabled]="rolSeleccionado === ''"
      >
        Continuar <mat-icon class="icon" matSuffix>chevron_right</mat-icon>
      </button>
    </div>
    <br />
    <div class="col-md-12">
      <button
        mat-raised-button
        color="accent"
        class="btn-block grey-button-transparent"
        (click)="close()"
      >
        Cancelar <mat-icon class="icon" matSuffix>cancel</mat-icon>
      </button>
    </div>
  </div>
</div>
