<div class="card" style="width: 78rem;">
    <div class="card-body">
        <h5 class="card-title">INVESTIGADOR: </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"style="color: orange;"><b>CARLOS EJEMPLO PEREZ</b></li>
            <li class="list-group-item"><h3>Breve descripción al respecto....</h3></li>
            <li class="list-group-item"><b>Algunos proyectos:</b></li>
            <li class="list-group-item"><h3>Protecno1, proyecto2, proyecto3...</h3></li>
            <li class="list-group-item"><b>Programa:</b></li>
            <li class="list-group-item"><h3>Programa ejemplo...</h3></li>
            <li class="list-group-item"><b>Facultad:</b></li>
            <li class="list-group-item"><h3>Facultad ejemplo...</h3></li>
            <li class="list-group-item"><b>Area de conocimiento asiciadas:</b></li>
            <li class="list-group-item"><h3>Area ejemplo...</h3></li>

        </ul>
    </div>
</div>
