<app-navbar-search></app-navbar-search>

<div class="body-searcher"><app-filters></app-filters>

    <div class="fondo">
        <div class="contenedor-max-app">
            <div class="row mt-5">
                <h2 class="color-negro">BUSCADOR DE INVESTIGADORES</h2>
            </div>                    
            <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="NOMBRE DE INVESTIGADOR" aria-label="Search" aria-describedby="search-addon" />
            <button routerLinkActive="active" type="button" class="orange-button generar-reporte boton-navegar ml-2"><i class="fa fa-search"></i></button>
          </div>
          <br>
          <h2 class="color-negro">Resultados:</h2>
          <div class="card" style="width: 78rem;">
                <div class="card-body">
                    <h5 class="card-title">Titulo </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"style="color: orange;"><b>NOMBRE DE INVESTIGADOR</b></li>
                        <li class="list-group-item"><b>Nombre</b></li>
                        <li class="list-group-item"><b>Nombre</b></li>
                        <li class="list-group-item"><b>Nombre</b></li>

                    </ul>
                </div>
          </div>
          <br>
          <div class="card" style="width: 78rem;">
            <div class="card-body">
                <h5 class="card-title">Titulo </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"style="color: orange;"><b>NOMBRE DE INVESTIGADOR</b></li>
                    <li class="list-group-item"><b>Nombre</b></li>
                    <li class="list-group-item"><b>Nombre</b></li>
                    <li class="list-group-item"><b>Nombre</b></li>

                </ul>
            </div>
            
      </div>
      <br>
          <div class="card" style="width: 78rem;">
            <div class="card-body">
                <h5 class="card-title">Titulo </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"style="color: orange;"><b>NOMBRE DE INVESTIGADOR</b></li>
                    <li class="list-group-item"><b>Nombre</b></li>
                    <li class="list-group-item"><b>Nombre</b></li>
                    <li class="list-group-item"><b>Nombre</b></li>

                </ul>
            </div>
        </div>   
        <br>
        <div class="row mt-5">
            <nav aria-label="Page navigation example" >
                <ul class="pagination" >
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

