::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f2f2f2;
  border-radius: 0 !important;
}

.mat-form-field .mat-form-field-label {
  color: #6f6f6f;
  border-color: #fff;
}
