<mat-toolbar color="primary" class="no-padding navbar-custom">
    <mat-toolbar-row class="no-padding">
        <a class="no-border" routerLink="/admin/reportes">
            <img style="max-width: 260px" class="align_self" src="/assets/img/logo.png" />
        </a>
        <span class="example-spacer"></span>
        <a mat-button routerLink="/admin" routerLinkActive="active"> DASHBOARD </a>
        <a mat-button routerLink="/admin/buscador" routerLinkActive="active"> BÚSQUEDA </a>
        <button mat-button class="boton-logout" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <mat-menu #menu="matMenu">
        <button (click) = "logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
        </mat-menu>
        </button>
    </mat-toolbar-row>
</mat-toolbar>