<table class="fondo-blanco mt-3 mb-3 ancho-completo table table-hover table-bordered table-striped no-padding">
    <thead>
        <tr>
            <th>col</th>
            <th>col</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
        <tr>
            <td>x</td>
            <td>y</td>
        </tr>
    </tbody>
</table>