.botones-rutas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.boton-navegar {
    color: #fff;
    width: 50%;
    border-radius: 0 !important;
    border-bottom: 1px solid #fff;
}

.boton-navegar:nth-of-type(1) {
    border-right: 1px solid #fff;
}