.body-searcher{
  background-color: white;
} 
.fondo{
    background:white;
    height: auto;
}
button{
    background: rgb(204, 116, 44);
    color: white;    
}
.generar-reporte {
  width: 100px;
}
