<app-navegacion></app-navegacion>

<app-filters></app-filters>

<div class="contenedor-max-app">
    <div class="row mt-5">
        <h2 class="color-blanco">GENERADOR DE REPORTES</h2>

        <mat-form-field appearance="fill" class="ancho-completo no-padding">
            <mat-label>Seleccione un reporte:</mat-label>
            <mat-select class="ancho-completo" [(ngModel)]="reporte">
                <mat-option style="background-color: #fff;" value="">-- Seleccione un reporte --</mat-option>
                <mat-option style="background-color: #fff;" *ngFor="let r of reportes" [value]="r">
                    {{ r }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button class="orange-button generar-reporte" (click)="sendRequest()" [disabled]="reporte === ''">
            Abrir PDF <i class="fa fa-file-pdf"></i>  
        </button>

        <app-loader class="ancho-completo" *ngIf="onRequest" [element]="'Reporte de datos'"></app-loader>

        <ng-container *ngIf="showTable">
            <h3 class="mt-3 mb-1 color-blanco ancho-completo">Resultados:</h3>
            <table class="fondo-blanco mt-3 mb-3 ancho-completo table table-hover table-bordered table-striped no-padding">
                <thead>
                    <tr>
                        <th>col</th>
                        <th>col</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>y</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
</div>