body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#policy {
    height: 275px;
    margin: auto;
    overflow-y: scroll;
    padding-right: 30px;
    text-align: justify;
}

.fondo-politicas {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 330px;
    padding: 20px 40px;
}

.botones-policy {
    display: flex;
    flex-wrap: wrap;
}

.cont-boton-policy:nth-of-type(1) {
    width: 48%;
    margin-right: 2%;
}

.cont-boton-policy button {
    width: 100%;
}

.cont-boton-policy:nth-of-type(2) {
    width: 48%;
    margin-left: 2%;
}