<div class="contenedor-full-flex-app">
    <div class="contenedor-min-app">
        <div class="subcontenedor-min-app">
            <div class="politica-datos">
                <h1 class="titulo-usb">
                    KNOWLEDGE USB<br />POLÍTICA DE TRATAMIENTO DE DATOS
                </h1>
                <div class="fondo-politicas">
                    <div id="policy">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at aut debitis earum, eius iste laboriosam magnam officia. Accusamus, aspernatur cum cupiditate dignissimos expedita iste libero molestias placeat velit voluptates.
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate earum error fugit ipsam, laborum minima omnis praesentium quae quam quas quasi quia, quisquam rem reprehenderit sequi ut voluptate voluptatibus!
                        </p>
                        <p>
                            Accusantium dolor dolore excepturi, facilis fugiat id pariatur provident rem, reprehenderit sequi sit, tenetur. Accusamus aliquam, consequuntur corporis deleniti dolorem minima optio quos? Accusamus libero mollitia odio quo quos tempora.
                        </p>
                        <p>
                            Consequuntur dignissimos doloremque doloribus error eveniet nihil omnis quos totam! Ad cum cumque dolor, error est, et facere maiores molestias numquam quaerat quia reprehenderit voluptate? A atque laudantium magni veritatis?
                        </p>
                        <p>
                            Aliquam aperiam asperiores at atque beatae consectetur consequatur culpa delectus dolorem dolores enim expedita illo, illum nostrum odio omnis pariatur perspiciatis quis recusandae reiciendis repellendus rerum sequi ullam voluptas voluptatibus!
                        </p>
                        <p>
                            Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </p>
                        <p>
                            Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </p>
                        <p>
                            Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </p>
                        <p>
                            Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </p>
                        <p>
                            Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </p>
                    </div>
                </div>
                <div class="botones-policy">
                    <div class="cont-boton-policy">
                        <button mat-raised-button class="btn-block" [disabled]="lockButton" (click)="reject()">
                            Rechazar <i class="fa fa-close"></i>
                          </button>
                    </div>
                    <div class="cont-boton-policy">
                        <button mat-raised-button color="primary" [disabled]="lockButton" class="btn-block orange-button" (click)="accept()">
                            Aceptar <i class="fa fa-check"></i>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>