<div class="container-fluid mt-5">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>Politica de privacidad</h2>
                </div>
                <div class="card-body">
                    <div id="policy">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at aut debitis earum, eius iste laboriosam magnam officia. Accusamus, aspernatur cum cupiditate dignissimos expedita iste libero molestias placeat velit voluptates.
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate earum error fugit ipsam, laborum minima omnis praesentium quae quam quas quasi quia, quisquam rem reprehenderit sequi ut voluptate voluptatibus!
                        </div>
                        <div>Accusantium dolor dolore excepturi, facilis fugiat id pariatur provident rem, reprehenderit sequi sit, tenetur. Accusamus aliquam, consequuntur corporis deleniti dolorem minima optio quos? Accusamus libero mollitia odio quo quos
                            tempora.
                        </div>
                        <div>Consequuntur dignissimos doloremque doloribus error eveniet nihil omnis quos totam! Ad cum cumque dolor, error est, et facere maiores molestias numquam quaerat quia reprehenderit voluptate? A atque laudantium magni veritatis?
                        </div>
                        <div>Aliquam aperiam asperiores at atque beatae consectetur consequatur culpa delectus dolorem dolores enim expedita illo, illum nostrum odio omnis pariatur perspiciatis quis recusandae reiciendis repellendus rerum sequi ullam voluptas
                            voluptatibus!
                        </div>
                        <div>Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </div>
                        <div>Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </div>
                        <div>Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </div>
                        <div>Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </div>
                        <div>Asperiores atque dolore et ex expedita impedit ipsum labore libero nostrum, quis rem similique tenetur vel! Cupiditate debitis ducimus ipsam mollitia officia placeat, quae quam, quas quos reprehenderit sed velit?
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button mat-raised-button class="btn-block" [disabled]="lockButton" (click)="reject()">
                Rechazar <i class="fa fa-close"></i>
              </button>
                        </div>
                        <div class="col-md-6">
                            <button mat-raised-button color="primary" [disabled]="lockButton" class="btn-block" (click)="accept()">
                Aceptar <i class="fa fa-check"></i>
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>