<div class="card" style="width: 78rem;">
    <div class="card-body">
        <h5 class="card-title">PROYECTO: </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"style="color: orange;"><b>PROYECTO 1</b></li>
            <li class="list-group-item"><h4>Breve descripción al respecto....</h4></li>
            <li class="list-group-item"><b>Integrantes:</b></li>
            <li class="list-group-item"><h4>Persona1,persona2, persona3...</h4></li>
            <li class="list-group-item"><b>Programa:</b></li>
            <li class="list-group-item"><h4>Programa ejemplo...</h4></li>
            <li class="list-group-item"><b>Facultad:</b></li>
            <li class="list-group-item"><h4>Facultad ejemplo...</h4></li>
            <li class="list-group-item"><b>Area de conocimiento asiciadas:</b></li>
            <li class="list-group-item"><h4>Area ejemplo...</h4></li>

        </ul>
    </div>
</div>
<br>
<div class="card" style="width: 78rem;">
    <div class="card-body">
        <h5 class="card-title">PROYECTO: </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"style="color: orange;"><b>PROYECTO 2</b></li>
            <li class="list-group-item"><h4>Breve descripción al respecto....</h4></li>
            <li class="list-group-item"><b>Integrantes:</b></li>
            <li class="list-group-item"><h4>Persona1,persona2, persona3...</h4></li>
            <li class="list-group-item"><b>Programa:</b></li>
            <li class="list-group-item"><h4>Programa ejemplo...</h4></li>
            <li class="list-group-item"><b>Facultad:</b></li>
            <li class="list-group-item"><h4>Facultad ejemplo...</h4></li>
            <li class="list-group-item"><b>Area de conocimiento asiciadas:</b></li>
            <li class="list-group-item"><h4>Area ejemplo...</h4></li>

        </ul>
    </div>
</div>