<div class="resultados-buscador-tarjeta">
    <div class="contenedor-flex-tarjeta-buscador">
        <h3 class="titulo-resultado">

        </h3>
        <p class="descripcion-resultado">

        </p>
        <h5 class="subtitulo-resultados">

        </h5>
        <p class="texto-resultado"></p>
    </div>
    <div class="contenedor-flex-tarjeta-buscador">
        <div class="subcontenedor-resultados-tarjeta">
            <span class="subtitulo-resultados">
                
            </span>
            <span class="texto-resultado">

            </span>
        </div>
        <h5 class="subtitulo-resultados">
            <span class="subtitulo-resultados">
                
            </span>
            <span class="texto-resultado">
                
            </span>
        </h5>
        <h5 class="subtitulo-resultados">
            <span class="subtitulo-resultados">
                
            </span>
            <span class="texto-resultado">
                
            </span>
        </h5>
        <h5 class="subtitulo-resultados">
            <span class="subtitulo-resultados">
                
            </span>
            <span class="texto-resultado">
                
            </span>
        </h5>
    </div>
</div>