@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #6f6f6f;
}

.ancho-completo {
    width: 100% !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.contenedor-full-flex-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-min-app {
    width: 95%;
    margin: auto;
    max-width: 750px;
}

.subcontenedor-min-app {
    padding: 15px;
}

.no-padding {
    padding: 0 !important;
}

.titulo-usb {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

.max-width {
    width: 100% !important;
}

.text-white {
    color: white !important;
}

.orange-button {
    width: 100%;
    background-color: #ea8500 !important;
    color: #fff;
}

.orange-button-transparent {
    width: 100%;
    background-color: rgba(248, 153, 56, 0.6) !important;
    color: #fff;
}

.active {
    background: rgba(248, 153, 56, 0.6) !important;
    color: #fff;
    border-radius: 0 !important;
}

.no-border {
    border: none !important;
}