.texto-snack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-verde {
    color: #20c997;
}

.color-rojo {
    color: #dc3545;
}

.color-amarillo {
    color: #ffc107;
}